$cyan: #0505a9;
$dark: #9a9a9a;
$borderW: 1px;
$verydark: rgb(62, 62, 62);


// Here you can add other styles
.search-result em {
  font-weight: bolder;
  color: darkgreen;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  // height: 30px;
  // padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.line-input,.line-input-lt {
  font-size: 1.1em;
  height: 2.5em;
  padding-left: 0.2em;
  border-left: none;
  border-bottom: solid 2px $verydark;
  border-radius: 0px;
  border-top: none;
  border-right: none;
  box-shadow: none;
  &:focus {
    border: none;
    border-left: none;
    border-bottom: solid 1px $cyan;
    border-radius: 0px;
    border-top: none;
    border-right: none;
    box-shadow: none;
  }
}
.line-input-lt {
  border-bottom: solid 1px $verydark;
}

.w-80 {
  width: 80%;
}

.hidden {
  display: none;
}
.editable-col,
.multifield {
  background-image: linear-gradient(to right, rgb(123, 123, 123) 75%, transparent 75%);
  background-position-y: bottom;
  background-repeat: repeat-x;
  background-size: 10px 0.1em;
  transition: background-size 0.2s ease-in-out;
  &:hover {
    background-size: 10px 0.2em;
    background-position-y: bottom;
    // color: blueviolet
    background-image: linear-gradient(to right, blueviolet 75%, transparent 75%);
    // font-weight: bold;
    transition: background-size 0.1s ease-in-out;
  }
  cursor: pointer;
}
.editable-col-edited {
  background-image: linear-gradient(to right, $cyan 100%, transparent 100%);
  background-size: 100% 0.2em;
}
.editable-field {
  &:hover {
    background-size: 100% 88%;
  }
  cursor: pointer;
}
.w80 {
  // max-width: 90%;
}
.table-fixed {
  tbody {
    height: 200px;
    overflow-y: auto;
    width: 100%;
  }
  thead,
  tbody,
  tr,
  td,
  th {
    display: block;
  }
  tbody {
    td {
      float: left;
    }
  }
  thead {
    tr {
      th {
        float: left;
        position: relative;
        &::after {
          content: "";
          clear: both;
          display: block;
        }
        background-color: #f39c12;
        border-color: #e67e22;
      }
    }
  }
}

a.paginate:not([href]) {
  font-weight: bold;
  cursor: pointer;
  color: rgb(0, 109, 225);
  &:hover {
    text-decoration: underline;
    font-size: 1em;
  }
}

a.paginate.current:not([href]) {
  color: darkblue;
  // text-decoration: underline;
  font-size: 1em;
}

.modal-table-wrapper {
  overflow-y: auto;
  overflow-x: auto;
  max-height: 45vh;
  max-width: 100vw;
}

.modal-table-wrapper::-webkit-scrollbar {
  width: 1em;
}

.modal-table-wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.modal-table-wrapper::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.personinput {
  // background-color: #f4f4f4;
  // border-top: none;
  // border-left: none;
  // border-right: none;

  // border-bottom: solid 1pt #a330ec;
}
.person-info {
  // background-color: #f4f4f4;
  overflow: scroll;
  // background-color: rgb(123, 123, 123);
  // color: lightgray;
  // border: solid 1pt darkslategrey;
  border-left: dotted 3pt lightgray;
  padding-left: 1em;
  // border-right: dotted 1pt #a330ec;

  // border-bottom: dotted 1pt #a330ec;
}

// .multifield {
//   background-image: linear-gradient(to right, rgb(123, 123, 123) 75%, transparent 75%);
//   background-position-y: bottom;
//   background-repeat: repeat-x;
//   background-size: 10px 0.1em;
//   transition: background-size 0.2s ease-in;
//   cursor: pointer;
// }
// .multifield.pending {
//   background-size: 10px 0.1em;
//   &:hover {
//     background-image: linear-gradient(to right, blueviolet 75%, transparent 75%);
//     background-size: 10px 0.2em;
//     font-weight: bold;
//   }
//   font-weight: bold;
// }
.multifield.accepted {
  // background-image: linear-gradient(to right, #16bffd, rgb(5, 220, 55) 75%, transparent 75%);
  background-image: linear-gradient(to right, rgb(72, 72, 72) 10%, rgb(72, 72, 72) 100%);
  background-size: 100% 0.3em;
  background-repeat: no-repeat;
}

.align-bottom > tbody > tr > td {
  vertical-align: bottom;
}

body.modal-open {
  position: static;
}

.ReactModal__Body--open > #root {
  overflow: hidden;

  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(v);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.react-autosuggest__input {
  border-color: cornflowerblue;
  border-top-width: 0px;
  // height: 100%;
  border-radius: 0;
  border-right-width: 0px;
  border-left-width: 0px;
}

.cardoption {
  background-color: #efefef;
  padding-top: 1em;
  padding-bottom: 1em;
}
.cardoption svg {
  background-color: #efefef;
  fill: #efefef;
}

.cardoption:hover:not(.cardaccepted) {
  cursor: pointer;
  background-color: rgb(123, 123, 123);
  background-size: 100% 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  font-style: bold;
  color: rgba(255, 255, 255, 0.762);

  svg {
    fill: rgb(97, 219, 240);
    background-color: rgb(123, 123, 123);
  }
}

.cardaccepted {
  background-color: rgb(62, 62, 62);
  cursor: default;
  color: rgba(255, 255, 255, 0.762);

  svg {
    fill: rgba(255, 255, 255, 0.762);
    background-color: transparent;
  }
}

.action-icon {
  cursor: pointer;
}

.visible-overflow {
  overflow: visible;
}

.scrollable {
  overflow: auto;
}

.height-50 {
  height: 50%;
}

.height-80 {
  height: 80%;
}

.buttons {
  margin-top: 50px;
  text-align: center;
  border-radius: 30px;
}

.card {
  border-radius: 10px;
  border: $borderW solid darkgray;
}

.blob-btn,
.discard-button {
  $numOfBlobs: 4;
  z-index: 1;
  position: relative;
  padding: 20px 25px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: $verydark;
  font-size: 1.1em;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.2s;
  cursor: pointer;
  border-radius: 30px;

  &:disabled {
    border: $borderW solid rgb(85, 0, 0);
  }
  &:before {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    // border: $borderW solid $cyan;
    border-radius: 30px;
  }

  &:after {
    content: "";
    z-index: -2;
    position: absolute;
    left: $borderW * 1.5;
    top: $borderW * 1.5;
    width: 100%;
    height: 100%;
    transition: all 0.3s 0.2s;
    border-radius: 30px;
  }

  &:hover {
    color: white;
    border-radius: 30px;
    &:after {
      transition: all 0.3s;
      left: 0;
      top: 0;
      border-radius: 30px;
    }
  }

  &__inner {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: #ffffff;
  }

  // additional container created, because in FF blobs are breaking overflow:hidden of element with svg gooey filter
  &__blobs {
    position: relative;
    display: block;
    height: 100%;
    filter: url("#goo");
  }

  &__blob {
    position: absolute;
    top: $borderW;
    width: 120% / $numOfBlobs;
    height: 100%;
    background: $cyan;
    border-radius: 100%;
    transform: translate3d(0, 150%, 0) scale(1.7);
    transition: transform 0.45s;

    @supports (filter: url("#goo")) {
      transform: translate3d(0, 150%, 0) scale(1.4);
    }

    @for $i from 1 through $numOfBlobs {
      &:nth-child(#{$i}) {
        left: ($i - 1) * (120% / $numOfBlobs);
        transition-delay: ($i - 1) * 0.08s;
      }
    }

    .blob-btn:hover & {
      transform: translateZ(0) scale(1.7);

      @supports (filter: url("#goo")) {
        transform: translateZ(0) scale(1.4);
      }
    }
  }
}


.lite-button, .lite-button-bordered,.lite-button-inverse {
  z-index: 1;
  position: relative;
  padding: 10px 15px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  // color: $cyan;
  font-size: 1em;
  background-color: transparent;
  outline: none;
  border: solid 1px transparent;
  transition: color 0.2s;
  cursor: pointer;

  &:before {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
  }

  &:disabled {
    &:hover {
      border: solid 1px transparent;
    }
  }

  &:after {
    content: "";
    z-index: -2;
    position: absolute;
    border-radius: 5px;
    left: $borderW * 1.5;
    top: $borderW * 1.5;
    width: 100%;
    height: 100%;
    transition: all 0.3s 0.2s;
    border-radius: 15px;
  }

  &:hover {
    // color: darkgray;
    border: solid 1px rgb(123, 123, 123);
    border-radius: 5px;
    &:after {
      transition: all 0.3s;
      left: 0;
      top: 0;
      border-radius: 15px;
    }
  }
}

.lite-button-bordered {
  border: solid 1px lightgray;
}

.lite-button-inverse {
  border: solid 1px lightgray;
  color: lightgray;
  &:hover {
    background-color: black;
    color:white;

  }
}

.discard-button {
  text-transform: uppercase;
  color: darkgray;
  font-size: 1.1em;
  font-weight: normal;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.2s;
  cursor: pointer;
  border-radius: 30px;
  &:before {
    border: none;
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    border-radius: 30px;
  }

  &:hover {
    color: rgba(97, 97, 97, 0.892);
    border-radius: 30px;
    &:after {
      transition: all 0.3s;
      left: 0;
      top: 0;
      border-radius: 30px;
    }
  }
}

.width-50 {
  width: 50%;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.rounded-dialog,
.confirm-dialog {
  position: absolute;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  padding: 20px;
  outline: none;
  border-radius: 4px;
  // overflow: hidden;

  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.rounded-dialog {
  border-radius: 10px;
}

.highlight-card {
  background-color: rgb(123, 123, 123);
}

.highlight-changes {
  background-color: blueviolet;
  color: white;
  // font-style: italic;
}

.modal-header {
  font-weight: bold;
  font-size: 1.1em;
}

.task-selector {
  width: 30em;
  border-color: #9d9d9d;
  margin-bottom: 1rem;
}

.data-table {
  tr td {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  thead tr th {
    background-color:$verydark;
    color: #ffffff;

    border-color: #ffffff;
  }
}

.hover-cell:hover {
  cursor: pointer;
  background-color: #efefef;
  color: black;
}

.field-input {
  background-size: 100% 25%;
  background-image: linear-gradient(120deg, orange 0%, #e6e38a 100%);
  font-weight: bold;
  font-size: 1.1em;
  max-width: 80%;
}

.active-pink-2 input.form-control[type="text"]:focus:not([readonly]) {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
}
.active-pink input.form-control[type="text"] {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
}
.active-purple-2 input.form-control[type="text"]:focus:not([readonly]) {
  border-bottom: 1px solid #ce93d8;
  box-shadow: 0 1px 0 0 #ce93d8;
}
.active-purple input.form-control[type="text"] {
  border-bottom: 1px solid #ce93d8;
  box-shadow: 0 1px 0 0 #ce93d8;
}
.active-cyan-2 input.form-control[type="text"]:focus:not([readonly]) {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan input.form-control[type="text"] {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan .fa,
.active-cyan-2 .fa {
  color: #4dd0e1;
}
.active-purple .fa,
.active-purple-2 .fa {
  color: #ce93d8;
}
.active-pink .fa,
.active-pink-2 .fa {
  color: #f48fb1;
}

.search-input {
  // color: white;
  border: 0;
  outline: 0;
  // width: 0;
  // background-color: #353b48;
  // caret-color:transparent;
  caret-color: red;
  font-size: 2em;
  // line-height: 40px;
  transition: width 0.4s linear;
}

.c-icon-2xl {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;

  display: inline-block;
  color: inherit;
  text-align: center;
  fill: currentColor;
}
.c-icon {
  display: inline-block;
  color: inherit;
  text-align: center;
  fill: currentColor;
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
}

.vh-25 {
  max-height: 25vh !important;
}

.hr-bottom {
  border-bottom: 1px solid #c8ced3;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
.app-header {
  height: 65px;
}
.app-header .nav-item {
  margin: 1em;
}
.app-header .nav-active {
  text-decoration: none;
  font-weight: bold;

  border-bottom: solid 1px black;
  padding-left: 0.2em;
  padding-right: 0.2em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  // padding-left: 0px;
  // border-top: solid 2px darkgray;
  border-radius: 2px;
  .nav-link {
    // color:$cyan;
  }
}
.navbar-nav .nav-link {
  color: inherit;
}
